<p class="info">
  阅读：<%= post.pv || 0 %>
   | 评论：<%= post.comments && post.comments.length || 0 %>
   | 转载：<%var reprinted = post.reprint_info.reprinted;%><%= reprinted && reprinted.length || 0 %>
</p>